### 회원정보 가져와 저장하기
- 파일: 회원.xlsx

In [50]:
import pandas as pd
import pymysql as mysql
import time
import sys
import warnings

warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
warnings.filterwarnings('ignore')
display(HTML("<style>.cm-s-ipython span.cm-comment { color: yellow; }</style>"))

df = pd.read_excel('./data/회원.xlsx', sheet_name='상세정보')
df.head()

     관리번호 결혼여부 운전면허증   취미 특기(소질) 관심분야  본적 주민등록상   비고
0  05-001   미혼    취득  인터넷     엑셀   게임  충북    경기   회장
1  05-002   기혼   미취득   등산  파워포인트   여행  서울    서울  NaN
2  06-002   미혼    취득   운동     엑셀   서적  서울    강원  부회장
3  07-001   기혼    취득   낚시  파워포인트   여행  강원    경기  NaN
4  07-002   미혼   미취득  인터넷  파워포인트   게임  경기    강원  NaN

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관리번호    8 non-null      object
 1   결혼여부    8 non-null      object
 2   운전면허증   8 non-null      object
 3   취미      8 non-null      object
 4   특기(소질)  8 non-null      object
 5   관심분야    8 non-null      object
 6   본적      8 non-null      object
 7   주민등록상   8 non-null      object
 8   비고      8 non-null      object
dtypes: object(9)
memory usage: 704.0+ bytes

In [57]:
df = df.fillna('')
df.비고.isnull().sum()

0

In [1]:
conn = mysql.connect(host='127.0.0.1', user='root', password='root', database='test', 
                     port=3306, autocommit=True)

cur = conn.cursor()

for i in range(len(df)):
    
    sqlnum = f'select num from member where num = "{df.iloc[i, 0]}"'
    cur.execute(sqlnum)
    
    res = cur.fetchall()
    if len(res) == 0:
        sql = 'insert into member values("'  
        sql = sql + df.iloc[i, 0] + '","' 
        sql = sql + df.iloc[i, 1] + '","' 
        sql = sql + df.iloc[i, 2] + '","' 
        sql = sql +  df.iloc[i, 3] + '","' 
        sql = sql +  df.iloc[i, 4] + '","' 
        sql = sql + str(df.iloc[i, 5]) + '","' 
        sql = sql + df.iloc[i, 6] + '","'
        sql = sql + df.iloc[i, 7] + '","'
        sql = sql + str(df.iloc[i, 8]) + '")'
        print(sql)
        
        cur.execute(sql)

conn.commit()
conn.close()

In [48]:
conn = mysql.connect(host='127.0.0.1', user='root', password='root', database='test', 
                     port=3306, autocommit=True)

cur = conn.cursor()
for i in range(len(df)):

    sql = f'insert into meminfo values("'  
    sql = sql + df.iloc[i, 0] + '","' 
    sql = sql + df.iloc[i, 1] + '","' 
    sql = sql +  df.iloc[i, 4] + '","' 
    sql = sql +  df.iloc[i, 5] + '","' 
    sql = sql + df.iloc[i, 6] + '","' 
    sql = sql + df.iloc[i, 8] + '")'
    print(sql)

    cur.execute(sql)

conn.commit()
conn.close()

insert into meminfo(num,marr, tuk, interest, born, bigo) values("05-001","미혼","엑셀","게임","충북","회장")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("05-002","기혼","파워포인트","여행","서울","")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("06-002","미혼","엑셀","서적","서울","부회장")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("07-001","기혼","파워포인트","여행","강원","")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("07-002","미혼","파워포인트","게임","경기","")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("07-004","기혼","한글","서적","서울","총무")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("08-001","미혼","한글","서적","경기","")
insert into meminfo(num,marr, tuk, interest, born, bigo) values("08-002","기혼","파워포인트","여행","강원","")

In [64]:
times = time.time()

conn = mysql.connect(host='127.0.0.1', user='root', password='root', database='test', 
                     port=3306, autocommit=True)

cur = conn.cursor()

sql_list = []

for i in range(len(df)):
    sql_list.append((df.iloc[i, 0], df.iloc[i, 1],
                     df.iloc[i, 4],df.iloc[i, 5],
                     df.iloc[i, 6],df.iloc[i, 8]))

sql = 'insert into meminfo values(%s, %s, %s, %s, %s, %s)'
cur.executemany(sql, sql_list)
    
print(time.time() - times)
conn.commit()
conn.close()

0.01332545280456543

In [ ]:
# https://finance.naver.com/item/sise_day.naver?code=005930&page=1